<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gymnast - Gym Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Flaticon Font -->
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="c/css/style.min.css" rel="stylesheet">
</head>

<body class="bg-white">
     <!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <%- include('partials/topbar') %>
</div>
<!-- Navbar End -->



    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Sobre Nosotros</h4>
            <div class="d-inline-flex">
                <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Sobre Nosotros</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->



    <!-- Features Start -->
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                    <i class="flaticon-training display-3 text-primary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">Progresión</h2>
                        <p>Un enfoque constante en tu evolución, mejorando tus habilidades en cada entrenamiento y alcanzando nuevas metas.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                    <i class="flaticon-weightlifting display-3 text-secondary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">Entrenamiento</h2>
                        <p>Entrena con propósito y dedicación. Diseñamos rutinas que te desafían a superar tus límites y mejorar tu rendimiento en cada sesión.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                    <i class="flaticon-treadmill display-3 text-primary mr-3"></i>
                    <div class="">
                        <h2 class="text-white mb-3">Crecimiento</h2>
                        <p>Impulsa tu desarrollo personal y físico con cada entrenamiento. Enfócate en avanzar constantemente y alcanzar tu máximo potencial.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->


<!-- Footer Start -->
<%- include('partials/footer') %>
<!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-outline-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="c/lib/easing/easing.min.js"></script>
    <script src="c/lib/waypoints/waypoints.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="c/mail/jqBootstrapValidation.min.js"></script>
    <script src="c/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="c/js/main.js"></script>
</body>

</html>